doctype html
html(lang="en")
  head
    title setting quote
    include includes/head.pug
  body 
    form(action="/settingQuote/addQuote?_method=PUT", method="post")
      input(type="text", name="quote", placeholder="quote") 
      input(type="text", name="author", placeholder="author")
      input(type="submit", value="add")
    -for(quoteData of quotes)
      div #{quoteData.quote + ", " + quoteData.author}
      form(action="/settingQuote/deleteQuote?_method=DELETE", method="post") 
        input(type="text", name="id", value=quoteData._id, style="display:none")
        input(type="submit", value="delete")