doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title setting quote
    include includes/head.pug
  body 
    form(id="addForm")
      input(type="text", name="quote", placeholder="quote") 
      input(type="text", name="author", placeholder="author")
      input(type="submit", value="add", id="add")
    -for(quoteData of quotes)
      div #{quoteData.quote + ", " + quoteData.author}
      form(action="/settingQuote/delete?_method=DELETE", method="POST", class="addForm") 
        input(style="display:none", type="text", name="id", value=quoteData._id)
        input(type="submit", value="delete", id="delete")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="javascripts/ajax.js")

